<!doctype html>
<html>
<head>
  <title>Show Madlibs</title>
  <link rel="stylesheet" href="static/madlibs.css">
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    I am a {{ noun }} in love with your daughter {{ person }}. She makes me feel
    {% for mood in moods %}
        "{{ mood }}",
    {% endfor %}
     all the time. Your daughter is so {{ adjective }}, I will be proposing with a {{ color }} toad.
</body>
</html>