<!doctype html>
<html>
<head>
  <title>Show Madlibs</title>
  <link rel="stylesheet" href="static/madlibs.css">
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When 
    {% for mood in moods %}
        "{{ mood }}",
    {% endfor %}
    {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way.
    <br>
    <br>
    <img src="https://media.giphy.com/media/o8E9BcscMOLhS/giphy.gif">
</body>
</html>