<!doctype html>
<html>
<head>
  <title>Show Madlibs</title>
  <link rel="stylesheet" href="static/madlibs.css">
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    Hi! I'm {{ person }}! My {{ color }} company of {{ noun }} is developing an app for
    {% for mood in moods %}
        "{{ mood }}",
    {% endfor %}
     that will make your whole life {{ adjective }}.
     <br>
     <br>
     <img src="http://tinyurl.com/j8fa2x7">
</body>
</html>